.page-width {
  width: 82vw;
  margin: 0 auto;
  height: 100%;
}

/* 850px breakpoint */
@media screen and (max-width: 850px) {
  .page-width {
    width: 95.29vw;
  }
}

/* 500px breakpoint */
@media screen and (max-width: 500px) {
  .page-width {
    width: 92vw;
  }
}

/* 320px breakpoint */
@media screen and (max-width: 320px) {
  .page-width {
    width: 87.5vw;
  }
}

.bp-medium,
.bp-small {
  display: none;
}

@media screen and (max-width: 500px) {
  .bp-medium {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .bp-small {
    display: block;
  }
}
