button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  position: relative;
}

.button__yellow {
  background-color: #eeb111;
  border: none;
  color: #111;
  text-transform: uppercase;
  padding: .6vw .7vw;
  font-family: "Trade Gothic Bold Condensed", sans-serif;
  font-size: 1.2rem;
  line-height: .8vw;
  height: auto;
}

.button__yellow:focus {
  color: #fff;
}

button.arrow--white,
button.arrow--gold {
  padding-right: 3.5vw;
}

@media screen and (max-width: 500px) {
  button.arrow--white,
  button.arrow--gold {
  padding-right: 3rem;
}
}

button.arrow--white:after,
button.arrow--gold:after {
  content: "";
  width: 1.333vw;
  height: 2vw;
  top: 1vw;
  right: 1vw;
  position: absolute;
  display: inline-block;
  background-size: 1vw 2vw;
  background-repeat: no-repeat;
}

@media screen and (max-width: 850px) {
  button.arrow--white:after,
  button.arrow--gold:after {
    height: 2rem;
    top: .9rem;
    right: 1rem;
    background-size: 1rem 2rem;
  }
}

@media screen and (max-width: 500px) {
  button.arrow--white:after,
  button.arrow--gold:after {
    height: 1.8rem;
    top: 1rem;
    background-size: 1.2rem 1.8rem;
    width: 1.2rem;
  }
}

@media screen and (max-width: 320px) {
  button.arrow--white:after,
  button.arrow--gold:after {
    height: 1.8rem;
    top: 1rem;
    background-size: 1.1rem 1.6rem;
    width: 1.1rem;
  }
}

button.arrow--gold:after {
  background-image: url('../assets/svg/right-arrow-gold.svg');
}

button.arrow--white:after {
  background-image: url('../assets/svg/right-arrow-white.svg');
}
