@font-face {
  font-family: "Trade Gothic";
  src: url("../assets/fonts/Trade\ Gothic.woff2") format("woff2"),
    url("../assets/fonts/Trade\ Gothic.woff") format("woff"),
    url("../assets/fonts/Trade\ Gothic.ttf") format("ttf");
}

@font-face {
  font-family: "Trade Gothic Condensed";
  src: url("../assets/fonts/Trade\ Gothic\ Condensed.woff2") format("woff2"),
    url("../assets/fonts/Trade\ Gothic\ Condensed.woff") format("woff"),
    url("../assets/fonts/Trade\ Gothic\ Condensed.ttf") format("ttf"),
    url("../assets/fonts/Trade\ Gothic\ Condensed.eot") format("eot");
    /* src: url("../assets/fonts/TradeGothicLT-CondEighteen.ttf"); */
}

@font-face {
  font-family: "Trade Gothic Bold Condensed";
  src: url("../assets/fonts/Trade\ Gothic\ Bold\ Condensed.woff2") format("woff2"),
    url("../assets/fonts/Trade\ Gothic\ Bold\ Condensed.woff") format("woff"),
    url("../assets/fonts/Trade\ Gothic\ Bold\ Condensed.ttf") format("ttf"),
    url("../assets/fonts/Trade\ Gothic\ Bold\ Condensed.eot") format("eot");
}

@font-face {
  font-family: "Warnock";
  src: url("../assets/fonts/WarnockPro-Regular.otf");
}

@font-face {
  font-family: "Warnock Bold";
  src: url("../assets/fonts/WarnockPro-Bold.otf");
}

@font-face {
  font-family: "Warnock Disp";
  src: url("../assets/fonts/WarnockPro-Disp.otf");
}
