.footer {
  background-color: #4b4c4c;
  padding: 32px 0 24px 0;
  color: #e6e7e8;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 809px) {
  .footer {
    padding: 26px 0 24px 0;
  }
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__content__item {
  width: 17vw;
  margin: 0 auto;
}

.footer--logo {
  width: 5.55vw;
}

.footer__content__item:first-child {
  margin-left: 0;
  margin-bottom: 24px;
}

.footer__content__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 983px) {
  .footer__content__item {
    width: 188px;
  }
}

@media screen and (max-width: 809px) {
  .footer__content__item {
    width: 220px;
  }
}

@media screen and (max-width: 459px) {
  .footer__content__item {
    width: 100%;
  }
}

.footer__content__item p,
.footer__content__item label {
  font-family: "Trade Gothic Condensed", sans-serif;
  font-size: 1.2vw;
  line-height: 1.2vw;
  margin-bottom: .95vw;
}

.footer__content__contact-button {
  margin-right: .5vw;
}

.footer__content__item input,
.footer__content__item button {
  vertical-align: top;
}

.email-signup {
  margin-top: 1vw;
}

.footer__content__item input {
  border-radius: 2px;
  background: none;
  border: 1px solid #939598;
  padding: .5vw .8vw;
  margin-right: .5vw;
  line-height: 1vw;
  color: #e6e7e8;
  font-family: serif;
  font-size: .9vw;
  width: 12vw;
}

.footer__content__item input::placeholder {
  color: #fff;
  opacity: 1;
}

.footer__content__item input:focus {
  border: 1px solid #fff;
}

.footer__content__item input:focus::placeholder {
  opacity: .5;
}

@media screen and (max-width: 983px) {
  .footer__content__item input {
    width: 125px;
  }
}


@media screen and (max-width: 459px) {
  .footer__content__item input {
    width: 219px;
  }
}

.footer__content__item__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__content__item__links--mobile {
  display: none;
}

.footer__content__item__links a {
  display: block;
  font-family: "Trade Gothic Condensed", sans-serif;
  font-size: 1.2vw;
  color: #fff;
  text-decoration: none;
  margin-bottom: 1.2vw;
  width: 17vw;
}

@media screen and (max-width: 983px) {
  .footer__content__item__links a {
    width: 187px;
  }
}

@media screen and (max-width: 809px) {
  .footer__content__item__links a {
    width: 220px;
    padding-right: 50px;
  }

  .footer__content__item__links {
    display: none;
  }

  .footer__content__item__links--mobile {
    display: flex;
  }
}

@media screen and (max-width: 459px) {
  .footer__content__item__links a {
    font-size: 12px;
    width: 130px;
    padding: 0;
  }

  .footer__content__item__links a:last-child,
  .footer__content__item__links a:nth-last-child(2) {
    margin-bottom: 0;
  }
}

.footer__content__item__links a:last-child {
  margin-bottom: 0;
}

.footer__content__item__links a:hover {
  text-decoration: underline;
  color: #eeb111;
}

.footer__map-link {
  color: #eeb111;
  font-family: "Trade Gothic Condensed", sans-serif;
  text-decoration: none;
  font-size: 1.2vw;
}

.footer__map-link img {
  height: 1vw;
}

a.footer__map-link:hover {
  color: #fff;
}

a.footer__map-link:hover .footer__base-icon,
.footer__content__linkedin a:hover .footer__base-icon {
  display: none;
}

a.footer__map-link .footer__hover-icon,
.footer__content__linkedin a .footer__hover-icon {
  display: none;
}

a.footer__map-link:hover .footer__hover-icon,
.footer__content__linkedin a:hover .footer__hover-icon {
  display: inline;
}


.footer__content__linkedin {
  display: inline;
}

.footer__content__linkedin img {
  margin-top: .5vw;
  vertical-align: text-bottom;
  height: 1.3vw;
}

.footer__content__linkedin a {
  font-family: "Trade Gothic Bold Condensed", sans-serif;
  font-size: 1vw;
  text-decoration: none;
  color: #fff;
}

.footer__content__linkedin a:hover {
  color: #eeb111;
}

.footer__copyright {
  justify-content: space-between;
  font-size: 1vw;
}

.footer__copyright div:first-child a {
  margin: 0;
}

.footer__copyright div,
.footer__copyright div a {
  font-family: "Warnock", serif;;
  font-size: 1vw;
}

@media screen and (max-width: 809px) {
  .footer__copyright div,
  .footer__copyright div a {
    font-size: 10px;
  }
}

.footer__copyright a {
  text-decoration: none;
  color: #e6e7e8;
  margin-left: 1.2vw;
}

@media screen and (max-width: 459px) { 
  .footer__copyright {
    display: block;
  }

  .footer__copyright div,
  .footer__copyright a {
    display: block;
    margin: 0;
    line-height: 16px;
  }

  .footer__copyright div:first-child {
    margin-bottom: 16px;
  }
}

.footer__copyright a:hover {
  text-decoration: underline;
  color: #eeb111;
}

@media screen and (max-width: 459px) {
  .footer__content__item {
    width: 100%;
  }
}

.tagline {
  width: 100%;
  margin: 2vw auto;
  text-align: center;
}

.tagline img {
  height: 3vw;
}

.footer .hr {
  margin: 2vw auto;
}