.header {

}

/* .header__polygon {
  background-image: url("../assets/images/rush-paralellogram-watermark.png");
  position: absolute;
  top: 47px;
  left: -120px;
  width: 198px;
  height: 126px;
  z-index: 1;
  display: none;
} */

/* @media screen and (max-width: 983px) {
  .header__polygon {
    background-image: url("../assets/images/rush-paralellogram-watermark.png");
    background-size: 127px 86px;
    background-repeat: no-repeat;
    top: 51px;
    left: -24px;
  }
} */

/* @media screen and (max-width: 809px) {
  .header__polygon {
    top: 46px;
    left: -53px;
  }
} */

/* @media screen and (max-width: 459px) {
  .header__polygon {
    display: none;
  }
} */

.header__top-bar {
  height: 2.5vw;
  background-color: #4b4c4c;
}

@media screen and (max-width: 850px) {
  .header__top-bar {
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .header__top-bar {
    display: none;
  }
}

.header__top-bar__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header__top-bar__content {
  color: #fff;
  text-transform: uppercase;
}

.header__top-bar__content a {
  color: #fff;
  padding: .75vw 0;
  text-decoration: none;
  font-family: "Trade Gothic Condensed", sans-serif;
  font-size: 1vw;
  font-weight: normal;
}

@media screen and (max-width: 850px) {
  .header__top-bar__content a {
    padding: .8vw 0;
    font-size: 1.2vw;
  }
}

.header__top-bar__content a:hover {
  color: #eeb111;
}

.header__top-bar__content a img {
  height: 1vw;
}

@media screen and (max-width: 850px) {
  .header__top-bar a img {
    height: 1.4vw;
  }
}

.header__top-bar__content a:hover .utility__base-icon {
  display: none;
}

.header__top-bar__content a .utility__hover-icon {
  display: none;
}

.header__top-bar__content a:hover .utility__hover-icon {
  display: inline;
}

.header__top-bar__content a:not(:last-child) {
  margin-right: 1.667vw;
}

.header__top-bar__content a img {
  margin-right: 0.333vw;
  margin-bottom: -1px;
}

.header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header__content__logo {
  margin: 2vw 0;
}

@media screen and (max-width: 320px) {
  .header__content__logo {
    margin: 4vw 0 4vw;
    width: 22vw;
  }
}

.header__content__logo a img {
  height: 3.250vw;
}

@media screen and (max-width: 850px) {
  .header__content__logo a img {
    height: 4.8vw;
  }
}

@media screen and (max-width: 500px) {
  .header__content__logo a img {
    height: 8vw;
  }
}

@media screen and (max-width: 320px) {
  .header__content__logo a img {
    height: 13vw;
  }
}

/* @media screen and (max-width: 983px) {
  .header__content__logo {
    margin: 22px 0 22px;
  }
}

@media screen and (max-width: 809px) {
  .header__content__logo {
    margin: 1.833vw 0 1.833vw;
  }
} */

.header__content__logo a {
  position: absolute;
  z-index: 2;
}

.header__content__navigation {
  margin-top: 3.583vw;
}

@media screen and (max-width: 809px) {
  .header__content__navigation {
    display: none;
  }
}

@media screen and (max-width: 983px) {
  .header__content__navigation {
    margin-top: 2.667vw;
  }
}

.header__content__navigation a {
  color: #4b4c4c;
  text-decoration: none;
  font-family: "Trade Gothic Bold Condensed", sans-serif;
  font-size: 1.5vw;
}

@media screen and (max-width: 983px) {
  .header__content__navigation a {
    font-size: 1.333vw;
  }
}

@media screen and (max-width: 850px) {
  .header__content__navigation a {
    font-size: 1.8vw;
  }
}

.header__content__navigation a img {
  margin-bottom: .3vw;
  height: .417vw;
}

@media screen and (max-width: 850px) {
  .header__content__navigation a img {
    margin-bottom: .4vw;
    height: .6vw;
  }
}

.header__content__navigation a.selected {
  color: #111;
}

.header__content__navigation a:not(:first-child) {
  margin-left: 1.333vw;
}

.header__content__navigation--with-child {
  margin-top: 2.15vw;
}

@media screen and (max-width: 983px) {
  .header__content__navigation--with-child {
    margin-top: 1.583vw;
  }
}

.header__content__navigation--with-child__child {
  margin-top: .75vw;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 983px) {
  .header__content__navigation--with-child__child {
    margin-top: 0.667vw;
  }
}

.header__content__navigation--with-child__child a {
  font-family: "Trade Gothic Condensed", sans-serif;
  font-size: 1.12vw;
  margin-left: 1.333vw;
}

@media screen and (max-width: 850px) {
  .header__content__navigation--with-child__child a {
    font-size: 1.6vw;
  }
}
