.header__mobile {
  display: none;
}

@media screen and (max-width: 500px) {
  .header__mobile {
    display: flex;
  }

  .header__mobile__icon,
  .header__mobile div {
    margin-left: 4vw;
  }

  .header__mobile__icon#expand-mobile,
  .header__mobile__icon#close-mobile {
    cursor: pointer;
  }

  .header__mobile__divider {
    width: .3vw;
    height: 7.200vw;
    margin-top: 3.6vw;
    background-color: rgba(147, 149, 152, 0.5);
  }

  .header__mobile__icon {
    margin-top: 5.4vw;
    height: 3.6vw;
  }

  .header__mobile__icon--base,
  .header__mobile__icon--hover {
    height: 5.625vw;
  }

  .header__mobile__icon .header__mobile__icon--hover {
    display: none;
  }

  .header__mobile__icon:hover .header__mobile__icon--base {
    display: none;
  }

  .header__mobile__icon:hover .header__mobile__icon--hover {
    display: inline;
  }
}

@media screen and (max-width: 320px) {
  .header__mobile__divider {
    width: 1px;
    height: 11.250vw;
    margin-top: 5.625vw;
    background-color: rgba(147, 149, 152, 0.5);
  }

  .header__mobile__icon {
    margin-top: 8.438vw;
    height: 1.5vw;
  }
}

.mobile__drawer,
.mobile__drawer__bg-container,
.mobile__drawer__page-mask {
  background-color: #939598;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 64vw;
  height: 100%;
}

@media screen and (max-width: 320px) {
  .mobile__drawer,
  .mobile__drawer__bg-container,
  .mobile__drawer__page-mask {
    width: 100vw;
  }
}

.mobile__drawer__bg-container {
  position: fixed;
  z-index: -1;
}

.mobile__drawer__page-mask {
  z-index: -2;
  position: fixed;
  width: 100%;
  background-color: rgba(230, 231, 232, .75);

}

.mobile__drawer--hide {
  display: none;
}

.mobile__drawer--show {
  display: block;
}

.mobile__drawer .header__mobile {
  position: absolute;
  z-index: 5;
  right: 0;
  padding-right: 4vw;
}

@media screen and (max-width: 320px) {
  .mobile__drawer .header__mobile {
    padding-right: 6.250vw;
  }
}

.mobile__drawer__header {
  background-color: #4b4c4c;
  height: 14.400vw;
}

@media screen and (max-width: 320px) {
  .mobile__drawer__header {
    height: 22.500vw;
  }
}

.mobile__drawer__body {
  background-color: #fff;
  box-shadow: 0 0 0.833vw 0 rgba(0, 0, 0, 0.2);
}

.mobile__drawer__body__navigation ul {
  list-style-type: none;
  /* padding: 0.833vw 0; */
}

.mobile__drawer__body__navigation ul li {
  list-style-type: none;
  border-left: 3px solid white;
  padding: 1.5rem 0 1.3rem;
  /* margin: 10px 0; */
}

.mobile__drawer__body__navigation ul li a {
  padding: 0 1.7rem;
}

.mobile__drawer__body__navigation ul li.mobile__drawer__body__navigation--divider {
  border-top: 1px solid #939598;
  margin: 0 4vw;
  padding: 0;
}

ul.mobile__drawer__body__navigation__item__child--list {
  padding: 0 0 2vw 0;
}

.mobile__drawer__body__navigation ul li.mobile__drawer__body__navigation__item__child {
  padding: 1vw 2.417vw;
}

.mobile__drawer__body__navigation ul li.mobile__drawer__body__navigation__item__child a {
  font-family: "Trade Gothic Condensed", sans-serif;
  font-size: 1.4rem;
  letter-spacing: .026rem;
  line-height: 2rem;
}

.mobile__drawer__body__navigation__item {
  position: relative;
}

.mobile__drawer__body__navigation ul li.mobile__drawer__body__navigation__item--selected,
.mobile__drawer__body__navigation__item:hover,
.mobile__drawer__body__navigation__item:focus {
  border-color: #eeb111;
}

.mobile__drawer__body__navigation ul li.mobile__drawer__body__navigation__item--selected a,
.mobile__drawer__body__navigation__item:hover a {
  color: #000;
}

.mobile__drawer__body__navigation__item__expand-control {
  position: absolute;
  right: 4vw;
  top: 3vw;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .mobile__drawer__body__navigation__item__expand-control {
    top: 4.5vw;
  }
}

.mobile__drawer__body__navigation__item a {
  font-family: "Trade Gothic Bold Condensed", sans-serif;
  font-size: 1.6rem;
  color: #111;
  text-decoration: none;
}

/* .mobile__drawer__body__navigation__item__child {
  padding: 8px 0 8px 29px;
} */

.mobile__drawer__body__navigation__item--child:last-child {
  /* padding-bottom: 15px; */
}

.mobile__drawer__body__navigation__item--child a {
  
}

.mobile__drawer__footer {
  margin-top: 4.800vw;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .mobile__drawer__footer {
    margin-top: 7.5vw;
  }
}

.mobile__drawer__footer img {
  width: 28vw;
}

@media screen and (max-width: 320px) {
  .mobile__drawer__footer img {
    width: 43.750vw;
  }
}
