.hero {
  /* margin: -4vw auto -8vw 0; */
  overflow: hidden;
  position: absolute;
  top: 5vw;
  z-index: -1vw;
}

.hero__image {
  width: 100vw;
  height: 58vw;
  background-image: url("../assets/images/Hero.png"); /* Pass as inline style from Sitecore */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100vw;
}

@media screen and (max-width: 983px) {
  .hero__image {
    background-image: url("../assets/images/Hero\ Image\ M.png");
    height: 409px;
  }
}

@media screen and (max-width: 809px) {
  .hero__image {
    background-image: url("../assets/images/Hero\ Image\ S.png");
    height: 231px;
  }
}

@media screen and (max-width: 459px) {
  .hero__image {
    background-image: url("../assets/images/Hero\ Image\ XS.png");
    height: 169px;
  }
}
