.footer {
  background-color: #4b4c4c;
  padding: 32px 0 24px 0;
  color: #e6e7e8;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 3vw 0;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 8.125vw 0;
  }
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__content__item {
  width: 20vw;
  margin: 0 auto;
}

.footer--logo {
  width: 5.55vw;
}

@media screen and (max-width: 850px) {
  .footer--logo {
    width: 8.55vw;
  }
}

@media screen and (max-width: 500px) {
  .footer--logo {
    width: 13.5vw;
  }
}

@media screen and (max-width: 320px) {
  .footer--logo {
    width: 21.55vw;
  }
}

.footer__content__item:first-child {
  margin-left: 0;
  /* margin-bottom: 24px; */
}

@media screen and (max-width: 500px) {
  .footer__content__item:first-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__content__item:first-child {
    margin-bottom: 7.813vw;
  }
}

.footer__content__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 850px) {
  .footer__content__item {
    width: 21.882vw;
  }
}

@media screen and (max-width: 500px) {
  .footer__content__item {
    width: 45vw;
  }
}

@media screen and (max-width: 320px) {
  .footer__content__item {
    width: 100%;
  }
}

.footer__content__item p,
.footer__content__item a,
.footer__content__item label {
  font-family: "Trade Gothic Condensed", sans-serif;
  font-size: 1.4rem;
  line-height: 1.333vw;
  margin-bottom: .95vw;
}

@media screen and (max-width: 850px) {
  .footer__content__item p,
  .footer__content__item label {
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
    line-height: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  .footer__content__item a,
  .footer__content__item p,
  .footer__content__item label {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 1vw;
  }
}

@media screen and (max-width: 320px) {
  .footer__content__item p,
  .footer__content__item label {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 3vw;
  }
}

.footer__content__item input,
.footer__content__item button {
  vertical-align: top;
}

@media screen and (max-width: 850px) {
  .footer__content__item button {
    padding: 1vw 1vw;
    font-size: 1.5vw;
    line-height: .7vw;
  }
}

@media screen and (max-width: 500px) {
  .footer__content__item button {
    padding: .7rem .8rem .5rem .8rem;
    font-family: "Trade Gothic Bold Condensed", sans-serif;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 320px) {
  .footer__content__item button {
    padding: .7rem .8rem .5rem .8rem;
    font-family: "Trade Gothic Bold Condensed", sans-serif;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

.email-signup {
  margin-top: 1vw;
}

.footer__content__item input {
  background: none;
  border: 1px solid #939598;
  padding: 0.588vw 0.941vw;
  margin-right: .5vw;
  line-height: 0.6rem;
  color: #e6e7e8;
  font-size: 1.2rem;
  width: 14.250vw;
  font-family: "Warnock", serif;
}

@media screen and (max-width: 850px) {
  .footer__content__item input {
    font-size: 1.3vw;
  }
}

@media screen and (max-width: 500px) {
  .footer__content__item input {
    background: none;
    border: 1px solid#939598;
    padding: .5rem .8rem .2rem;
    margin-right: 1vw;
    color:#e6e7e8;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

@media screen and (max-width: 320px) {
  .footer__content__item input {
    background: none;
    border: 1px solid#939598;
    padding: .4rem .8rem .2rem .8rem;
    margin-right: 1vw;
    line-height: 1.6rem;
    color:#e6e7e8;
    font-size: 1.2rem;
  }
}

.footer__content__item input::placeholder {
  color: #fff;
  opacity: 1;
}

.footer__content__item input:focus {
  border: 1px solid #fff;
}

.footer__content__item input:focus::placeholder {
  opacity: .5;
}

@media screen and (max-width: 500px) {
  .footer__content__item input {
    width: 27vw;
  }
}

@media screen and (max-width: 320px) {
  .footer__content__item input {
    width: 219px;
  }
}

.footer__content__item__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__content__item__links--mobile {
  display: none;
}

.footer__content__item__links a {
  display: block;
  font-family: "Trade Gothic Condensed", sans-serif;
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  margin-bottom: 1.2vw;
  width: 20vw;
}

@media screen and (max-width: 850px) {
  .footer__content__item__links a {
    width: 25%;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 500px) {
  .footer__content__item__links a {
    width: 45vw;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }

  .footer__content__item__links {
    display: none;
  }

  .footer__content__item__links--mobile {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .footer__content__item__links a {
    font-size: 1.2rem;
    width: 50%;
    padding: 0;
    margin-bottom: 1.5rem;
  }
}

/* @media screen and (max-width: px) {
  .footer__content__item__links a {
    font-size: 12px;
    width: 130px;
    padding: 0;
  }

  .footer__content__item__links a:last-child,
  .footer__content__item__links a:nth-last-child(2) {
    margin-bottom: 0;
  }
} */

.footer__content__item__links a:last-child {
  margin-bottom: 0;
}

.footer__content__item__links a:hover {
  text-decoration: underline;
  color: #eeb111;
}

.footer__map-link {
  color: #eeb111;
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  .footer__map-link {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 500px) {
  .footer__map-link {
    font-size: 2.7vw;
  }
}

@media screen and (max-width: 320px) {
  .footer__map-link {
    font-size: 4.5vw;
    line-height: 7vw;
  }
}

.footer__map-link img {
  height: 1.2rem;
}

a.footer__map-link:hover {
  color: #fff;
}

a.footer__map-link:hover .footer__base-icon,
.footer__content__linkedin a:hover .footer__base-icon {
  display: none;
}

a.footer__map-link .footer__hover-icon,
.footer__content__linkedin a .footer__hover-icon {
  display: none;
}

a.footer__map-link:hover .footer__hover-icon,
.footer__content__linkedin a:hover .footer__hover-icon {
  display: inline;
}


.footer__content__linkedin {
  display: inline;
}

.footer__content__linkedin img {
  margin-top: .5vw;
  margin-left: .5vw;
  vertical-align: text-bottom;
  height: 1.167vw;
}

@media screen and (max-width: 850px) {
  .footer__content__linkedin img {
    height: 1.7vw;
    margin-left: 1vw;
  }
}

@media screen and (max-width: 500px) {
  .footer__content__linkedin img {
    margin-top: 1vw;
    height: 1.4rem;
    margin-left: 2vw;
  }
}

@media screen and (max-width: 320px) {
  .footer__content__linkedin img {
    margin-top: 1.5vw;
    vertical-align: text-bottom;
    height: 1.4rem;
    margin-left: 2vw;
  }
}

.footer__content__linkedin a {
  font-family: "Trade Gothic Bold Condensed", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 850px) {
  .footer__content__linkedin a {
    font-size: 1.2rem;
  }
}

/* @media screen and (max-width: 500px) {
  .footer__content__linkedin a {
    font-size: 1.2rem;
  }
} */

@media screen and (max-width: 320px) {
  .footer__content__linkedin a {
    font-size: 1.2rem;
  }
}

.footer__content__linkedin a:hover {
  color: #eeb111;
}

.footer__copyright {
  justify-content: space-between;
  font-size: 1vw;
  justify-content: flex-start;
}

@media screen and (max-width: 850px) {
  .footer__copyright {

    font-size: 1.5vw;
  }
}

.footer__copyright div:first-child a {
  margin: 0;
}

.footer__copyright div a {
  font-family: "Warnock", serif;;
  font-size: 1.2rem;
}

@media screen and (max-width: 850px) {
  .footer__copyright div a {
    font-size: 1.2rem;
    margin-left: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  .footer__copyright div:first-child a {
    margin: 0 3vw 0 0;
  }

  .footer__copyright div a {
    display: inline;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 0 3vw 0 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright div {
    width: 100%;
  }
  .footer__copyright div a {
    font-size: 1rem;
    line-height: 2rem;
  }

  .footer__copyright div:first-child {
    margin-bottom: 3vw;
  }

  /* .footer__copyright div:last-child a {
    line-height: 6vw;
  } */
}

/* @media screen and (max-width: 809px) {
  .footer__copyright div,
  .footer__copyright div a {
    font-size: 10px;
  }
} */

.footer__copyright a {
  text-decoration: none;
  color: #e6e7e8;
  margin-left: 1.333vw;
}

/* @media screen and (max-width: 459px) { 
  .footer__copyright {
    display: block;
  }

  .footer__copyright div,
  .footer__copyright a {
    display: block;
    margin: 0;
    line-height: 16px;
  }

  .footer__copyright div:first-child {
    margin-bottom: 16px;
  }
} */

.footer__copyright a:hover {
  text-decoration: underline;
  color: #eeb111;
}

/* @media screen and (max-width: 459px) {
  .footer__content__item {
    width: 100%;
  }
} */

.tagline {
  width: 100%;
  margin: 2.333vw auto;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .tagline {
    margin: 3.5vw auto;
  }
}

@media screen and (max-width: 500px) {
  .tagline {
    margin: 5vw auto;
  }
}

@media screen and (max-width: 320px) {
  .tagline {
    margin: 8.750vw auto;
  }
}

.tagline img {
  height: 2.667vw;
}

@media screen and (max-width: 850px) {
  .tagline img {
    height: 3.2rem;
  }
}

/* @media screen and (max-width: 500px) {
  .tagline img {
    height: 3.2rem;
  }
} */

@media screen and (max-width: 320px) {
  .tagline img {
    height: 10vw;
  }
}

.footer .hr {
  margin: 2.083vw auto;
  height: 0.083vw;
}

@media screen and (max-width: 850px) {
  .footer .hr {
    margin: 2rem auto;
    height: .1rem;
  }
}

@media screen and (max-width: 500px) {
  .footer .hr {
    margin: 5vw auto;
    height: .1rem;
  }
}

@media screen and (max-width: 320px) {
  .footer .hr {
    margin: 7.5vw auto;
    height: .1rem;
  }
}
