*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}



/* h1 {
  font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1200 - 320))) !important;
}

h2 {
  font-size: calc(21px + (28 - 21) * ((100vw - 320px) / (1200 - 320))) !important;
}

.header__content__navigation a {
  font-size: calc(16px + (18 - 16) * ((100vw - 850px) / (1200 - 850))) !important;
}

.header__content__navigation--with-child__child a {
  font-size: calc(16px + (18 - 16) * ((100vw - 850px) / (1200 - 850))) !important;
}

.content__button {
  font-size: calc(21px + (21 - 14) * ((100vw - 320px) / (1200 - 320))) !important;
} */





.bg-polygon {
  position: absolute;
  z-index: 3;
  width: 167px;
  height: 106px;
  background: #000;
  opacity: .07;
  clip-path: polygon(50% 0%, 100% 0, 50% 100%, 0% 100%);
}

.hide {
  display: none;
}

.svg__gold--hover:hover {
  filter: url('../svg/filters.svg#gold-hover');
  stroke: #eeb111;
}

.hr {
  height: 1px;
  background-color: #939598;
  margin: 24px auto;
  opacity: 0.5;
}

.clearfix {
  clear: both;
}

.flex {
  display: flex;
  align-content: stretch;
}

.flex--50 {
  width: 50%;
  position: relative;
}

.flex--60 {
  width: 60%;
  position: relative;
}

.flex--40 {
  width: 40%;
  position: relative;
}

.relative {
  position: relative;
}