*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.bg-polygon {
  position: absolute;
  z-index: 3;
  width: 167px;
  height: 106px;
  background: #000;
  opacity: .07;
  clip-path: polygon(50% 0%, 100% 0, 50% 100%, 0% 100%);
}

.hide {
  display: none;
}

.svg__gold--hover:hover {
  filter: url('../svg/filters.svg#gold-hover');
  stroke: #eeb111;
}

.hr {
  height: 1px;
  background-color: #939598;
  margin: 24px auto;
  opacity: 0.5;
}

.clearfix {
  clear: both;
}

.flex {
  display: flex;
  align-content: stretch;
}

.flex--20 {
  width: 20%;
  position: relative;
}

.flex--30 {
  width: 30%;
  position: relative;
}

.flex--40 {
  width: 40%;
  position: relative;
}

.flex--50 {
  width: 50%;
  position: relative;
}

.flex--60 {
  width: 60%;
  height: 40vw;
  position: relative;
}

@media screen and (max-width: 500px) {
  .flex--60 {
    height: 0;
  }
}



.flex--100 {
  width: 100%;
  position: relative;
}

.relative {
  position: relative;
}

.undone {
  position: relative;
}

.undone::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../svg/undone.svg');
  content: "";
}

.rotate180 {
  transform: rotate(180deg);
}

/* Form */
fieldset {
  border: none;
}
fieldset:not(:first-child) {
  margin-left: 2.4rem;
}
.form--contact {
  width: 100%;
}

.form--contact div {
  margin-bottom: 2vw;
}

.form--contact input, .form--contact label {
  display: block;
}

.form--contact input {
  width: 100%;
  font-size: 1.4rem;
  padding: .6rem;
  border: 1px solid #111;
}

.form--contact label {
  font-family: "Trade Gothic Condensed", sans-serif;
  font-size: 1.4rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
